// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

article img {
  background-color: #fff;
}

p.subtitle {
  color: #333;
  @extend .sans;
}

#app_listing {
  app {
    display: block;
    a {
      vertical-align: text-top;
      font-size: 2.2em;
      img {
        display: inline;
        vertical-align: text-top;
        height: 64px;
        width: 64px;
        border-width: 1px;
        border-color: transparent;
        background-color: transparent;
        margin-right: 0.4em;
      }
    }
  }
}

#project_listing {
  project {
    a {
      vertical-align: baseline;
      &.icon {
        float: left;
        padding-bottom: 1em;
        img {
          width: 200px;
          margin-right: 1em;
          margin-bottom: 0;
        }
      }
    }
    
    h2 {
      font-size: 1.8em;
      margin: 0 0 0.2em;
      padding: 0;
    }
    
    display: block;
    padding-top: 10px;
    margin-top: 15px;
    border-bottom: solid 1px #ddd;
    &:last-child {border: none;}
  }
}